.transition-button {
    background-color: blue;
    transition: 0.5s;
}

.transition-button:hover {
    background-color: green;
}

.transition-div {
    border: solid 2px black;
    transition: 0.1s;
    width: 100px;
}

.transition-div:hover {
    width: 200px;
}

.transition-text {
    transition: 0.3s ;
    font-size: 16px;
}

.transition-text:hover {
    font-size: 24px;
}

.transition-image {
    transition: 0.8s;
    opacity: 1;
}

.transition-image:hover {
    opacity: 0.5;
}

.scale-div {
    border: solid 2px red;
    scale: 1;
}

.scale-div:hover {
    scale: 1.5;
}

.scale-image {
    scale: 1;
}

.scale-image:hover {
    scale: 0.75;
}

.translate-button {
    background-color: aqua;
}

.translate-button:hover {
    transform: translate(50px, 20px)
}

.translate-div {
    border: solid 2px black;
    background-color: chartreuse;
}

.translate-div:hover  {
    transform: translateX(-100px)
}

.skew-heading {
    background-color: blueviolet;
}

.skew-heading:hover {
    transform: skewX(20deg);
}

.skew-paragraph {
    background-color: chocolate;
}

.skew-paragraph:hover {
    transform: skewY(15deg);
}